<div>
  <h2>Upload FIT File</h2>
  <div class="flex-container">
    <label for="file-upload" class="custom-file-input">Choose File</label>
    <input id="file-upload" type="file" (change)="onFileSelected($event)" style="display: none;"/>
  </div>

  <div>
    <h3>Select Visualization</h3>
    <select [(ngModel)]="currentVisualization" (change)="onVisualizationChange()">
      <option value="cadence-distance">Basic Visualization</option>
      <option value="strideLength-power">Stride Lenght vs Pace</option>
    </select>

    <div id="map-container">
      <h3>Map</h3>
      <div id="map"></div>
    </div>

    <div id="graph-container">
      <h3>Graph</h3>
      <div id="visualization-container"></div>
    </div>

  </div>
</div>
