<div class="toggle-buttons">
  <div
    class="button single-upload"
    [class.active]="uploadMode === 'single'"
    (click)="setUploadMode('single')"
  >
    Single Upload
  </div>
  <div
    class="button multi-upload"
    [class.active]="uploadMode === 'multi'"
    (click)="setUploadMode('multi')"
  >
    Multi Upload
  </div>
  <div
    class="button helper-upload"
    [class.active]="uploadMode === 'helper'"
    (click)="setUploadMode('helper')"
  >
    Cadence helper
  </div>
</div>

<div *ngIf="uploadMode === 'single' || uploadMode === 'helper'" class="flex-container">
  <label for="file-upload" class="custom-file-input">Choose File</label>
  <input
    #fileInput
    id="file-upload"
    type="file"
    (change)="onFileSelected($event)"
    style="display: none;"
  />
</div>


<div *ngIf="uploadMode === 'multi'" class="flex-container">
  <label for="multi-file-upload" class="custom-file-input">Choose Files</label>
  <input
    id="multi-file-upload"
    type="file"
    multiple
    (change)="onFilesSelected($event)"
    style="display: none;"
  />
</div>


<div>
  <h3 *ngIf="this.data != null">Select Visualization</h3>
  <select *ngIf="this.data != null && uploadMode == 'single'" [(ngModel)]="currentVisualization"
          (change)="onVisualizationChange()">
    <option value="cadence-distance">Cadence vs Stride Length vs Pace vs Power vs Heart Rate</option>
    <option value="strideLength-power">Dynamic Scatter Plot</option>
    <option value="boxplot">Cadence and Stride Length Boxplot</option>
  </select>

  <div *ngIf="this.data != null && currentVisualization == 'cadence-distance'"
       style="max-width: 100%; display: flex; justify-content: center;">
    <label for="smoothness">Smoothness:</label>
    <input type="range" id="smoothness" min="1" max="100" value="10" step="1" (input)="updateSmoothness($event)">
    <span id="smoothness-value">10</span>
    <input type="checkbox" id="option1" name="Cadence" checked (change)="onVisualizationChange()" [(ngModel)]="cadence">
    <label for="option1">Cadence</label>
    <input type="checkbox" id="option2" name="Stride Length" checked (change)="onVisualizationChange()"
           [(ngModel)]="strideLength">
    <label for="option2">Stride Length</label>
    <input type="checkbox" id="option3" name="Pace" checked (change)="onVisualizationChange()" [(ngModel)]="pace">
    <label for="option3">Pace</label>
    <input type="checkbox" id="option4" name="Power" checked (change)="onVisualizationChange()" [(ngModel)]="power">
    <label for="option4">Power</label>
    <input type="checkbox" id="option5" name="HeartRate" checked (change)="onVisualizationChange()"
           [(ngModel)]="heartRate">
    <label for="option5">Heart Rate</label>
  </div>

  <div class="flex-container">
    <div id="visualization-container"></div>
    <div *ngIf="uploadMode === 'single'" id="map-container">
      <div id="map"></div>
    </div>

  </div>
</div>

